31117 - Udayan Chavan

Data Wrangling 1

1. Load the Dataset into pandas data frame
2. Data Preprocessing: Check for missing values using pandas isnull(), describe(), etc. Provide variable descriptions, types of variables, etc. Check the dimensions of the data frame.
3. Data Formatting and Data Normalization: Summarize the types of variables by checking the data types (i.e. character, numeric, integer, factor and logical) of the variables in the data set. If variables are not in the correct data type, apply proper type conversions.

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('vgsales.csv', index_col=['Rank'])

In [5]:
df.head(3)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16598 entries, 1 to 16600
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16598 non-null  object
 1   Platform      16598 non-null  object
 2   Year          16327 non-null  float64
 3   Genre         16598 non-null  object
 4   Publisher     16540 non-null  object
 5   NA_Sales      16598 non-null  float64
 6   EU_Sales      16598 non-null  float64
 7   JP_Sales      16598 non-null  float64
 8   Other_Sales   16598 non-null  float64
 9   Global_Sales  16598 non-null  float64
dtypes: float64(6), object(4)
memory usage: 1.4+ MB

In [7]:
df.iloc[2]

Name            Mario Kart Wii
Platform                   Wii
Year                    2008.0
Genre                   Racing
Publisher             Nintendo
NA_Sales                 15.85
EU_Sales                 12.88
JP_Sales                  3.79
Other_Sales               3.31
Global_Sales             35.82
Name: 3, dtype: object