<h4>Assignment A3</h4>
<b>Udayan Chavan - 31117 - K1</b><br><br>
<b>Descriptive Statistics - Measures of Central Tendancy and Variability</b><br>
Perform the following operations on any open source dataset:

1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income, etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.
2. Write a Python program to display some basic statistical details like percentile, mean, standard deviation, etc. of the species of 'Iris-setosa', 'Iris-versicolor' and 'Iris-virginica' of iris.csv dataset.

<h4>PART 1</h4>

In [284]:
import numpy as np
import pandas as pd

df = pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [285]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [286]:
print(df.age.min(), df.age.max())

29 77

Making bins and labels for grouping ages

In [287]:
b=[29, 40, 50, 60, 70, 80]
l=['29-39', '40-49', '50-59', '60-69', '70-79']

df['age'] = pd.cut(df['age'], bins=b, labels=l, right=False)

In [288]:
df['age'].value_counts()

50-59    125
60-69     80
40-49     72
29-39     16
70-79     10
Name: age, dtype: int64

Calculating statistical data about resting blood pressure, grouping by age

<b>MEAN</b>

In [289]:
print(df.groupby("age")["trestbps"].mean())

age
29-39    125.500000
40-49    123.916667
50-59    133.472000
60-69    136.375000
70-79    135.800000
Name: trestbps, dtype: float64

<b>MEDIAN</b>

In [290]:
print(df.groupby("age")["trestbps"].median())

age
29-39    124.0
40-49    122.0
50-59    130.0
60-69    138.0
70-79    135.0
Name: trestbps, dtype: float64

<b>MINIMUM</b>

In [291]:
print(df.groupby("age")["trestbps"].min())

age
29-39     94
40-49    101
50-59     94
60-69    100
70-79    110
Name: trestbps, dtype: int64

<b>MAXIMUM</b>

In [292]:
print(df.groupby("age")["trestbps"].max())

age
29-39    140
40-49    152
50-59    200
60-69    180
70-79    160
Name: trestbps, dtype: int64

<b>STANDARD DEVIATION</b>

In [293]:
print(df.groupby("age")["trestbps"].std())

age
29-39    11.944315
40-49    12.618732
50-59    18.987932
60-69    17.480821
70-79    19.187959
Name: trestbps, dtype: float64

Creating a list that has a numeric value for each response in the categorical variable

In [294]:
listCategories = list(df['age'].value_counts().index)
listCategories

['50-59', '60-69', '40-49', '29-39', '70-79']

In [295]:
listBloodPressure = list(df.groupby('age')['trestbps'])
listBloodPressure

[('29-39',
  1      130
  44     140
  58     118
  65     138
  72     130
  115    120
  124     94
  125    118
  154    138
  157    122
  163    138
  164    138
  212    118
  227    120
  239    126
  259    120
  Name: trestbps, dtype: int64),
 ('40-49',
  2      130
  7      120
  11     130
  12     130
  18     150
        ...
  280    136
  283    152
  285    140
  294    120
  299    110
  Name: trestbps, Length: 72, dtype: int64),
 ('50-59',
  3      120
  4      120
  5      140
  6      140
  8      172
        ...
  292    170
  297    164
  298    140
  301    130
  302    130
  Name: trestbps, Length: 125, dtype: int64),
 ('60-69',
  0      145
  13     110
  17     150
  19     140
  23     150
        ...
  290    148
  293    152
  295    140
  296    124
  300    144
  Name: trestbps, Length: 80, dtype: int64),
 ('70-79',
  25     160
  60     110
  129    120
  144    140
  145    156
  151    112
  225    145
  234    130
  238    125
  240    160
  Name: trestbps, dtype: int64)]

<h4>PART 2</h4>

In [296]:
df2 = pd.read_csv('iris.csv')
df2.head()

   sepallength  sepalwidth  petallength  petalwidth      species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [297]:
df2.dtypes

sepallength    float64
sepalwidth     float64
petallength    float64
petalwidth     float64
species         object
dtype: object

In [298]:
df2.species.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

In [299]:
df2.describe().transpose()

             count      mean       std  min  25%   50%  75%  max
sepallength  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepalwidth   150.0  3.054000  0.433594  2.0  2.8  3.00  3.3  4.4
petallength  150.0  3.758667  1.764420  1.0  1.6  4.35  5.1  6.9
petalwidth   150.0  1.198667  0.763161  0.1  0.3  1.30  1.8  2.5

Python function to get statistics of particular entries

In [300]:
def getStats(df):
    print("\nStatistics:")

    print("\nIris-setosa:")
    print(df[df.species=="Iris-setosa"].describe().transpose())

    print("\nIris-versicolor:")
    print(df[df.species=="Iris-versicolor"].describe().transpose())

    print("\nIris-virginica:")
    print(df[df.species=="Iris-virginica"].describe().transpose())

getStats(df2)

Statistics:

Iris-setosa:
             count   mean       std  min    25%  50%    75%  max
sepallength   50.0  5.006  0.352490  4.3  4.800  5.0  5.200  5.8
sepalwidth    50.0  3.418  0.381024  2.3  3.125  3.4  3.675  4.4
petallength   50.0  1.464  0.173511  1.0  1.400  1.5  1.575  1.9
petalwidth    50.0  0.244  0.107210  0.1  0.200  0.2  0.300  0.6

Iris-versicolor:
             count   mean       std  min    25%   50%  75%  max
sepallength   50.0  5.936  0.516171  4.9  5.600  5.90  6.3  7.0
sepalwidth    50.0  2.770  0.313798  2.0  2.525  2.80  3.0  3.4
petallength   50.0  4.260  0.469911  3.0  4.000  4.35  4.6  5.1
petalwidth    50.0  1.326  0.197753  1.0  1.200  1.30  1.5  1.8

Iris-virginica:
             count   mean       std  min    25%   50%    75%  max
sepallength   50.0  6.588  0.635880  4.9  6.225  6.50  6.900  7.9
sepalwidth    50.0  2.974  0.322497  2.2  2.800  3.00  3.175  3.8
petallength   50.0  5.552  0.551895  4.5  5.100  5.55  5.875  6.9
petalwidth    50.0  2.026  0.274650  1.4  1.800  2.00  2.300  2.5